
<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
 
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
	<div class="row">
	<div class="alert alert-success" role="alert" id="answer"></div>
	<div class="container">
		Оцени последнее
	<button type="button" id="bad" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 
</button>
<button type="button" id="good" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 
</button>
<button type="button" id="yes" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
</button>
		<span id="current_word"> </span>
		
	</div>
	</div>
	<div id="media"><a href=""> </a> </div> 
    <ul id="messages"></ul>
    <form action="">
	 
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  <script src="/socket.io/socket.io.js"></script>
    
    <script>
	  var last = "";
      var socket = io();
	  $(document).on('click', '#good', function(){
			alert("good word is " + last);
			socket.emit('word_good', $("#current_word").text());
	  });
	 
	   $(document).on('click', '#bad', function(){
			alert("bad word is " + last);
			socket.emit('word_bad', $("#current_word").text());
	  });
	  $(document).on('click', '#yes', function(){
			socket.emit('word_win', $("#current_word").text());
	  });
      $('form').submit(function(){
          socket.emit('var', $('#m').val());
		  $('#messages').append($('<li>').text($('#m').val()).css("color","aqua"));
          $('#m').val('');
		  
          return false;
      });
      socket.on('var', function(msg){
			$('#messages').append($('<li>').text(msg));
      });
	  socket.on('word_bad', function(msg){
		$('#messages').append($('<li>').text(msg).css("color","red"));
	 });
	 socket.on('media', function(file){
		$('#media a').text("Файл игры").prop('href', 'http://localhost:8090/' + file);
	 });
	socket.on('word_good', function(msg){
		$('#messages').append($('<li>').text(msg).css("color","green"));
	 });
	 socket.on('word_win', function(msg){
		$('#answer').text(msg);
	//	socket.emit('exit');
	 });
	 socket.on('new_user', function(newUser){
		alert(newUser.isLead);
	 });
	  socket.on('estimate', function(msg){
 
        $('#messages').append($('<li>').text(msg + " PLease Estimate"));
		$("#current_word").text(msg);
      });
	  socket.on('you_win', function(msg){
		alert('You Win');
        window.location.href = "http://localhost:8090/create";
      });
    </script>
  </body>
</html>